img {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  font-weight: 400;
  max-width: 100%;
}

.color1 {
  color: rgb(168, 197, 255);
}

.color2 {
  color: greenyellow;
}

@media screen and (max-width: 418px) {
  .title {
    font-size: 15px;
  }
}
